<!--[widget name=courseinfo]-->
<div class="indented"> 
<h3> Class activities will be recorded here.</h3> 
 
<p class="indented"> 
This page has the entire plan for the semester.  For weeks in the future, consider it a plan subject to change. For weeks in the past consider it a record of what we have done.  As for the current week, keep a watch for updates and changes. 
</p> 
<p class="indented">Note that when a class meeting topic is a link it will typically take you to a page displaying the presentation slides used in that lecture.</p> 
<p class="indented">Once the audio/video for a lecture is encoded and released, then an 'Audio/Video' link will appear next to the session topic. 
Note we are using a set of tools developed by <a href="http://www.panopto.com/">Panopto</a> to present lectures.</p>
</div> 
 <!--[widget name=schedule]-->