<div class="ctbl">
<a name="pages"></a>
<table class="page" summary="Current Menu">
<caption class="users">Current Menu</caption>
<thead>
<tr class="users">
<th scope="col" id="c1">Position</th>
<th scope="col" id="c2">Page Name</th>
<th scope="col" id="c3">Title</th>
<th scope="col" id="c3">Requires Login</th>
<th scope="col" id="c4">Action</th>
<th score="col" id="c5">URL</th>
</tr>
<thead>
<tbody>
<!--[foreach from=$menuitems item=link]-->
<tr>
<th scope="row"><!--[$link.position]--></th>
<th scope="row">
<!--[$link.name]-->
</th>
<td><!--[$link.title]--></td>
<td>
<!--[if $link.rlogin eq 1]-->
Yes
<!--[else]-->
No
<!--[/if]-->
</td>
<td>
<!--[if $link.direct eq 0]-->
<a href="?page=pages&edit=<!--[$link.name]-->">Edit</a> |
<!--[/if]-->
<!--[if $link.position gt 1]-->
<a href="?page=navigation&up=<!--[$link.id]-->">Move Up</a>
<!--[/if]--> 
<!--[if $link.position lt $menuitems|@count]--> 
<!--[if $link.position gt 1]-->
|
<!--[/if]-->
 <a href="?page=navigation&down=<!--[$link.id]-->">Move Down</a><!--[/if]-->
</td>
<td>
<!--[if $link.direct eq 1]-->
<!--[$link.durl]-->
<!--[else]-->
<!--[$config.siteurl]-->?page=<!--[$link.name]-->
<!--[/if]-->
</td>
</tr>
<!--[/foreach]-->
</tbody>
</table>
</div>


<div class="form"><h2>Add Menu Item</h2>
<!--[foreach from=$errors item=error]-->
<span class="error"><!--[$error]--></span><br/>
<!--[/foreach]-->
<form action="?page=navigation" name="Add Menu Item Form" title="Add Menu Item Form" method="post">
<fieldset>
<legend>Add Menu Item</legend>
<div class="field"><label for="name">Page Name:</label> 
<select class="input" name="pagename" id="pagename">
<!--[foreach from=$availablepages item=page]-->
<option value="<!--[$page.name]-->"><!--[$page.title]--> [<!--[$page.name]-->]</option>
<!--[/foreach]-->
</select>
</div>
<div class="field"><label for="pageposition">Insert After:</label>
<select class="input" name="pageposition" id="pageposition">
<!--[foreach from=$menuitems item=link]-->
<option value="<!--[$link.position]-->"><!--[$link.title]--> [<!--[$link.name]-->]</option>
<!--[/foreach]-->
</select>
</div>
<div class="field"><label for="submit">Add Link</label><input type="submit" id="submit" class="input" type="submit" name="submit_plink" value="Submit" /></div>
</fieldset>
</form>
</div>

<div class="form"><h2>Add Menu Item (Direct Link)</h2>
<!--[foreach from=$errors item=error]-->
<span class="error"><!--[$error]--></span><br/>
<!--[/foreach]-->
<form action="?page=navigation" name="Add Menu Item (Direct Link) Form" title="Add Menu Item (Direct Link) Form" method="post">
<fieldset>
<legend>Add Menu Item (Direct Link)</legend>
<div class="field"><label for="linktitle">Link Title:</label> 
<input id="linktitle"  class="input" type="text" name="linktitle" value="<!--[$dlink_title]-->" />
</div>
<div class="field"><label for="linkurl">Link URL:</label> 
<input id="linkurl"  class="input" type="text" name="linkurl" value="<!--[$dlink_url]-->" />
</div>
<div class="field"><label for="pageposition">Insert After:</label>
<select class="input" name="pageposition" id="pageposition">
<!--[foreach from=$menuitems item=link]-->
<option value="<!--[$link.position]-->"><!--[$link.title]--> [<!--[$link.name]-->]</option>
<!--[/foreach]-->
</select>
</div>
<div class="field"><label for="submit">Add Link</label><input type="submit" id="submit" class="input" type="submit" name="submit_dlink" value="Submit" /></div>
</fieldset>
</form>
</div>