<div class="panel">
<div class="panelitem">
<a href="?page=course" class="panellink">
<img src="<!--[$pagedir]-->styles/<!--[$config.style]-->/images/course.png" alt="Course Management"/><br />Course Management</a>
</div>
<div class="panelitem">
<a href="?page=users" class="panellink">
<img src="<!--[$pagedir]-->styles/<!--[$config.style]-->/images/users.png" alt="User Management"/><br />User Management</a>
</div>
<div class="panelitem">
<a href="?page=navigation" class="panellink">
<img src="<!--[$pagedir]-->styles/<!--[$config.style]-->/images/nav.png" alt="Navigation Management"/><br />Navigation Management</a>
</div>
<div class="panelitem">
<a href="?page=pages" class="panellink">
<img src="<!--[$pagedir]-->styles/<!--[$config.style]-->/images/pages.png" alt="Page Management"/><br />Page Management</a>

</div>
<br />
<div class="panelitem">
<a href="?page=schedule" class="panellink">
<img src="<!--[$pagedir]-->styles/<!--[$config.style]-->/images/schedule.png" alt="Schedule Management"/><br />Schedule Management</a>
</div>
<div class="panelitem">
<a href="?page=widgets" class="panellink">
<img src="<!--[$pagedir]-->styles/<!--[$config.style]-->/images/widget.png" alt="Widget Management"/><br />Widget Management</a>
</div>


<div class="panelitem">
<a href="?page=assignments" class="panellink">
<img src="<!--[$pagedir]-->styles/<!--[$config.style]-->/images/assignments.png" alt="Assignment Management"/><br />Assignment Management</a>
</div>

<div class="panelitem">
<a href="?page=social" class="panellink">
<img src="<!--[$pagedir]-->styles/<!--[$config.style]-->/images/social.png" alt="Social Networking"/><br />Social Networking</a>
</div>

</div>