<a href="?page=users"><img src="<!--[$pagedir]-->styles/<!--[$config.style]-->/images/users.png" alt="User Management"/>User Management</a>
<a href="?page=navigation"><img src="<!--[$pagedir]-->styles/<!--[$config.style]-->/images/nav.png" alt="Navigation Management"/>Navigation Management</a>
<a href="?page=pages"><img src="<!--[$pagedir]-->styles/<!--[$config.style]-->/images/pages.png" alt="Page Management"/>Page Management</a>
<a href="?page=schedule"><img src="<!--[$pagedir]-->styles/<!--[$config.style]-->/images/schedule.png" alt="Schedule Management"/>Schedule Management</a>