<h2>Installation Overview</h2>
<div class="info">
Welcome to the CSU Computer Science Web Template Installation. This wizard will guide you through the setup process.
Before we begin please properly chmod the configuration file for the website. You can do this by executing the following command in a terminal in the root directory of this template
<div class="code">chmod 777 config/config.php</div>
Don't worry we will change the permissions back later!<br/>
</br>
Please click the button below titled "Begin" to start the installation process.
</div>
<div class="form"><h2>Begin Installation</h2>
<form action="install.php" name="Installation Form" title="Installation Form" method="post">
<input type="hidden" name="setupdb" id="setupdb" value="setupdb" />
<fieldset>
<legend>Start Installation</legend>
<div class="field"><label for="submit">Click to start the installation process</label><input type="submit" id="submit" class="input" type="submit" name="submit_edit" value="Begin" /></div>
</fieldset>
</form>
</div>