<div class="ctbl">
<a name="pages"></a>
<table class="page" summary="Current Pages">
<caption class="users">Current Pages</caption>
<thead>
<tr class="users">
<th scope="col" id="c1">Name</th>
<th scope="col" id="c2">Title</th>
<th scope="col" id="c2">Action</th>
</tr>
<thead>
<tbody>
<!--[foreach from=$pages item=page]-->
<tr>
<th scope="row"><!--[$page.name]--></th>
<td><!--[$page.title]--></td>
<td><a href="?page=pages&edit=<!--[$page.name]-->">Edit</a></td>
</tr>
<!--[/foreach]-->
</tbody>
</table>
</div>

<!--[if $edit eq true]-->
<div class="form"><h2>Edit Page</h2>
<!--[foreach from=$errors item=error]-->
<span class="error"><!--[$error]--></span><br/>
<!--[/foreach]-->
<form action="?page=pages&edit=<!--[$page_pagename]-->" name="Edit Page Form" title="Edit Page Form" method="post">
<input type="hidden" name="pagename" id="pagename" value="<!--[$editpage_pagename]-->" />
<fieldset>
<legend>Edit Page</legend>
<div class="field"><label for="spagename">Page Name:</label> <input id="spagename" disabled="disabled" class="input" type="text" name="pagename" value="<!--[$editpage_pagename]-->" /></div>
<div class="field"><label for="pagetitle">Page Title:</label> <input id="pagetitle"  class="input" type="text" name="pagetitle" value="<!--[$editpage_pagetitle]-->" /></div>
<div class="field"><label for="pagecontent">Content (html):</label><textarea id="pagecontent" class="input" rows="30" cols="70" name="pagecontent"><!--[$editpage_pagecontent]--></textarea></div>
<div class="field"><label for="submit">Edit Page</label><input type="submit" id="submit" class="input" type="submit" name="submit_edit" value="Submit" /></div>
</fieldset>
</form>
</div>
<!--[/if]-->
<div class="form"><h2>Add Page</h2>
<!--[foreach from=$errors item=error]-->
<span class="error"><!--[$error]--></span><br/>
<!--[/foreach]-->
<form action="?page=pages" name="Add Page Form" title="Add Page Form" method="post">
<fieldset>
<legend>Add Page</legend>
<div class="field"><label for="pagename">Page Name [a-z0-9] only:</label> <input id="pagename"  class="input" type="text" name="pagename" value="<!--[$page_pagename]-->" /></div>
<div class="field"><label for="pagetitle">Page Title:</label> <input id="pagetitle"  class="input" type="text" name="pagetitle" value="<!--[$page_pagetitle]-->" /></div>
<div class="field"><label for="pagecontent">Content (html):</label><textarea id="pagecontent" class="input" rows="30" cols="70" name="pagecontent"><!--[$page_pagecontent]--></textarea></div>
<div class="field"><label for="submit">Add Page</label><input type="submit" id="submit" class="input" type="submit" name="submit_add" value="Submit" /></div>
</fieldset>
</form>
</div>