<h2>Project Contacts</h2>
<ul>
<li>Elaine Regelson</li>
	<ul></li>Email: <img src="images/regelson_email.png" /> <audio preload="preload" src="?extern=audio&string=<!--["regelson@cs.colostate.edu"|base64_encode]-->" controls="controls">Please upgrade to a browser that supports HTML 5 Features</audio></li></ul>
<li>Austin Walkup</li>
	<ul></li>Email: <img src="images/walkup_email.png" /> <audio preload="preload" src="?extern=audio&string=<!--["awalkup@rams.colostate.edu"|base64_encode]-->" controls="controls">Please upgrade to a browser that supports HTML 5 Features</audio></li></ul>
<li>Caleb Champlin</li>
	<ul></li>Email: <img src="images/champlin_email.png" />  <audio preload="preload" src="?extern=audio&string=<!--["caleb.champlin@rams.colostate.edu"|base64_encode]-->" controls="controls">Please upgrade to a browser that supports HTML 5 Features</audio></li></ul>
</ul>

