<div id= "classInfo">
<h4>CS192 Information</h4>
  <dl>
	<dt>Instructors:</dt>
	<dd><a href="<?echo $teacherSite2;?>"><?echo $teacherName2;?></a><br />
	Office: CSB Room 272 <br />
	Office Hours: Friday 9:00 - 11:50<br />
	Email: bartlett@cs.colostate.edu</dd>
	<br />
	<dd><a href="<?echo $teacherSite;?>"><?echo $teacherName;?></a><br />
	Office: CSB Room 278 <br />
	Office Hours: Friday 9:00 - 11:50<br />
	Email: regelson@cs.colostate.edu</dd>
	<dt>Lecture:</dt>
	<dd>Mon &amp; Wed 9:00 - 9:50 CSB 215</dd>
	<dd>Mon &amp; Wed 10:00 - 10:50 CSB 215</dd>
	<dd>Mon &amp; Wed 11:00 - 11:50 CSB 215</dd>
	<dt>Extra lab time:</dt>
	<dd>Fri 9:00 - 11:50 CSB 120</dd>
 </dl>
</div> 